@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Poppins:wght@100&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --text-color: #fff;
  --color: #81be41;
  --bg-color: #1c1c1d;
  --first: #fff;
  --second: #000;
  --mob-color: #252525;
}

body.dark-mode {
  --text-color: #222;
  --bg-color: #f2f2f2;
  --first: #222;
  --second: #fff;
  --mob-color: #eae6e6;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

header {
  background: var(--bg-color);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  z-index: 1;
}


/*TODO FORMATACAO DO DARK MODE*/
nav .list-darkmode-menu .mode {
  color: var(--text-color);
  font-size: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav .list-darkmode-menu .mode .fa-moon,
nav .list-darkmode-menu .mode .fa-sun {
  position: absolute;
  animation: animate 0.5s;
}
nav .list-darkmode-menu .mode .fa-sun {
  display: none;
}
nav .list-darkmode-menu .mode input:checked ~ .fa-moon {
  display: none;
}
nav .list-darkmode-menu .mode input:checked ~ .fa-sun {
  display: block;
}
nav .list-darkmode-menu .mode input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
@keyframes animate {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }
  75% {
    transform: rotate(25deg);
  }
}

/*! formatacao*/
.home {
  background: var(--bg-color);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding: 300px 0 50px;
}
.home .home-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home-info .left {
  flex: 1;
}
.home .home-info .left h3 {
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: var(--first);
  border-radius: 25px;
}
.home .home-info .left h1 {
  font-size: 4.5em;
  color: var(--first);
  margin: 10px 0;
}
.home .home-info .left h4 {
  color: var(--first);
  font-size: 2.2em;
  font-weight: bold;
  min-width: 280px;
  margin-bottom: 20px;
}
.home .home-info .left h4 span {
  color: var(--color);
}

/*TODO*/
.home .home-info .left p {
  width: 90%;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--first);
  -webkit-mask-box-image: 50px;
          mask-border: 50px;
  margin-bottom: 15px;
  text-align: justify;
}



.home .home-info .right {
  flex: 1;
}

/*---------------------------------------------------------------------------------------*/
@media screen and (max-width: 1680px) {
  header nav {
    padding: 0 50px;
  }
  .home {
    padding: 200px 50px;
  }
  .home .home-info .left h1 {
    font-size: 4em;
  }
  .home .home-info .right .profile img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 1280px) {
  header nav {
    padding: 0 50px;
  }
  .home {
    padding: 250px 50px;
  }
  .home .home-info .left h1 {
    font-size: 4em;
  }
  .home .home-info .right .profile img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 992px) {
  header {
    background: var(--mob-color);
    position: sticky;
    top: 0;
    z-index: 9;
  }
  header nav .list-darkmode-menu ul {
    position: fixed;
    top: 89px;
    left: -100%;
    max-width: 60%;
    width: 100%;
    height: 100vh;
    background: var(--mob-color);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 50px;
    gap: 30px;
    transition: 0.3s ease;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 22px;
  }
  header nav .list-darkmode-menu ul.active {
    left: 0%;
  }
  header nav .list-darkmode-menu .hamburger {
    display: block;
  }
  .home {
    position: relative;
    padding: 30px 50px;
    height: 100%;
  }
  .home .home-info {
    flex-direction: column-reverse;
  }
  .home .home-info .left {
    padding-top: 50px;
  }
  .home .home-info .left p {
    width: 100%;
  }
  .home .home-info .left .social {
    display: none;
  }
  .home .home-info .right .profile {
    margin-top: 25px;
  }
  .home .home-info .right .profile img {
    width: 375px;
    height: 375px;
    box-shadow: 0 0 30px var(--color);
  }
  .home .home-info .right .profile img:hover {
    box-shadow: 0 0 60px var(--color);
  }
}
@media screen and (max-width: 767px) {
  header nav {
    padding: 0 30px;
  }
  header nav .list-darkmode-menu ul {
    padding: 30px 0 0 30px;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 20px;
  }
  .home {
    padding: 30px;
  }
  .home .home-info .left h1 {
    font-size: 3.6em;
  }
  .home .home-info .left h4 {
    font-size: 1.8em;
  }
  .home .home-info .left p {
    font-size: 14px;
  }
  .home .home-info .right .profile img {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 567px) {
  header nav .logo a {
    font-size: 28px;
  }
  .home .home-info .left h3 {
    font-size: 2em;
  }
  .home .home-info .left h1 {
    font-size: 2.8em;
  }
  .home .home-info .left h4 {
    font-size: 1.45em;
  }
  .home .home-info .left p {
    font-size: 14px;
  }
  .home .home-info .right .profile img {
    width: 280px;
    height: 280px;
  }
}/*# sourceMappingURL=style.css.map */


