body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background: #141414;
}

header .logo {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: 600;
  width: 55px;
  height: auto;
  margin-left: 10%;
  /* adjust this as needed */
}
header .logo:hover{

  transform: scale(1.1);
}

header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
  margin-left: 8%;
  /* adjust this as needed */
}

header .navigation li {
  list-style: none;
  margin: 0 16px;
}

header .navigation li a {
  color: #a9b0ab;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  transition:  0.3s ease;
  letter-spacing: 1px;

}

header .navigation li a:hover {
  color: #fff;
  transform: scale(1.1);
}

.socials {
  margin-right: 5px;
}

header .socials img {
  position: relative;
  top: 0;

  transition: 0.3s ease;
  width: 30px;
  height: 30px;
  left: 0;
  margin: 0 17px;
}
header .socials img:hover{

  transform: scale(1.1);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.socials-items img {

  display: none;
}

.socials-items {
  display: none;


}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.navigation .nav-social {
  display: none;
}





/* Responsive styles for medium screens */
@media (max-width: 1201px) {
  header {
    flex-direction: column;
    align-items: center;
  }



  header .logo {
    margin-left: 1%;
  }

  .socials {
    margin-left: 25px;
    display: inline;
  }

  header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    margin-left: 0%;
  }

}


/* Responsive styles for small screens */
@media (max-width: 691px) {
  header {
    flex-direction: row;
    align-items: center;
  }

  .hamburger {
    display: block;

  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navigation {
    position: fixed;
    left: -100%;
    top: 8%;
    gap: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    /* Ensure no wrapping */
    background-color: #141414;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.3s;
  }



  .navigation.active {
    left: 0;

  }

  .socials {
    display: none;
  }


  .socials-items {
    display: flex;
    flex-direction: row;
    gap: 20px;

  }

  .socials-items img {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 35px;
  
    height: auto;
    transition: 0.3s ease;
    margin: 20px 0
  }
  .socials-items img:hover {

  transform: scale(1.1);

  }



  header .logo {
    position: flex;
    margin-left: 1%;
    text-align: center;
  }

}